<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>

    <div class="title">
        <a href="https://www.fontspace.com/category/minecraft"><img src="https://see.fontimg.com/api/renderfont4/VGORe/eyJyIjoiZnMiLCJoIjo0NCwidyI6MTAwMCwiZnMiOjQ0LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0VDRTFFMSIsInQiOjF9/UmFuZG9tIFZpZGVvIEdhbWUgR2VuZXJhdG9y/minecraft-ten.png" alt="Minecraft fonts"></a>
    </div>
    <br><br><br>
    <div >
        <div class="choices">
            <form method = "get" action = "/x">
                <button>Xbox</button>
            </form>
            <form method = "get" action = "/ps">
                <button>PlayStation</button>
            </form>
            <form method = "get" action = "/ns">
                <button>Nintendo Switch</button>
            </form> 
            <form method = "get" action = "/s">
                <button>Steam</button>
            </form>
            </div>
            <form method = "post" action="/roll" name = "Genre">
                <div class="options">
                    <label for="Gen">Genre</label>
                    <select name="genre">
                        <option value="" selected>Select</option>
                        <option value="casual">Casual</option>
                        <option value="action">Action</option>
                        <option value="sports">Sports</option>
                        <option value="adventure">Adventure</option>
                        <option value="indie">Indie</option>
                        <option value="strategy">Strategy</option>
                        <option value="racing">Racing</option>
                        <option value="rpg">RPG</option>
                    </select>
                </div>
            <div class="button">
                <input type="submit" value="Roll">
            </div>
            </form>
                

            
    </div>

</body>
</html>