<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>

    <div class="title">
        <a href="https://www.fontspace.com/category/minecraft"><img src="https://see.fontimg.com/api/renderfont4/VGORe/eyJyIjoiZnMiLCJoIjo0NCwidyI6MTAwMCwiZnMiOjQ0LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0VDRTFFMSIsInQiOjF9/UmFuZG9tIFZpZGVvIEdhbWUgR2VuZXJhdG9y/minecraft-ten.png" alt="Minecraft fonts"></a>
    </div>
    <br><br><br>
    <div >
            <div class="choices">
                <form method = "post" action = "/x">
                    <button>Xbox</button>
                </form>
                <form method = "post" action = "/ps">
                    <button>PlayStation</button>
                </form>
                <form method = "post" action = "/ns">
                    <button>Nintendo Switch</button>
                </form> 
                <form method = "post" action = "/s">
                    <button>Steam</button>
                </form>
            </div>
        
            <div class="options">

                <label for="Genre">Genre</label>
                <select id="Genre">
                    <option value="Genre1">Genre1 </option>
                    <option value="Genre2">Genre2 </option>
                    <option value="Genre3">Genre3 </option>

                </select>
            </div>
            <div class="button">
                <form method = "post"   action = "/roll">
                    <input type="submit" value="Roll">
                </form>
                

            </div>
    </div>

</body>
</html>