*{
    background-color: lightsteelblue;
    text-align: center;

}
.title{
    color: blueviolet;
    text-align: center;
}


input{
    border-radius: 10px;
    background-color: aquamarine;
}
.choices{
    display: inline-block;

}